@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Pixelify Sans", sans-serif;
}
.container {
  background-color: #fff;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 900px;
  height: 650px;
  padding: 0 10px;
}

h1 {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 54px;
}
.sketch {
  border: 1px solid;
  width: 550px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 25%;
  height: 25%;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}
.result {
  width: 200px;
  height: 40px;
  font-size: 40px;
  text-align: center;
  line-height: 40px;
}
.color-display {
  font-size: 40px;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 1px solid;
}

.color {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.color.black {
  background: #000;
}
.color.white {
  background: #fff;
}
.color.red {
  background: #ff0000;
}
.color.orange {
  background: #ffa500;
}
.color.yellow {
  background: #ffff00;
}
.color.lime {
  background: #00ff00;
}
.color.green {
  background: #008000;
}
.color.cyan {
  background: #00ffff;
}
.color.blue {
  background: #0000ff;
}
.color.navy {
  background: #000080;
}
.color.purple {
  background: #800080;
}
.color.pink {
  background: #ffc0cb;
}
.color.brown {
  background: #a52a2a;
}
.color.gray {
  background: #808080;
}
.color.silver {
  background: #c0c0c0;
}
.color.gold {
  background: #ffd700;
}
.controls {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 10px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  width: 60px;
  height: 55px;
  cursor: pointer;
}

.size-display {
  margin: -20px 0;
  font-size: 30px;
}

.socials a {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
.socials a svg {
  color: #000;
}
