/* @import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* font-family: "Pixelify Sans", sans-serif; */
  /* background-color: grey; */
}

.container {
  background-color: #fff;
  /* border: 1px solid; */
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-template-columns: 70% 30%;
  width: 900px;
  height: 650px;
  /* column-gap: 10%; */
  padding: 0 10px;
}

h1 {
  text-align: center;
  margin-top: -20px;
  font-size: 54px;
}
.sketch {
  border: 1px solid;
  width: 550px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 25%;
  height: 25%;
  /* border: 1px solid; */
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid;
  margin: 20px 0;
}
.result {
  width: 200px;
  height: 40px;
  font-size: 40px;
  text-align: center;
  line-height: 40px;
}

.colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 1px solid;
}

.color {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#black {
  background: #000;
}
#white {
  background: #fff;
}
#red {
  background: #ff0000;
}
#orange {
  background: #ffa500;
}
#yellow {
  background: #ffff00;
}
#lime {
  background: #00ff00;
}
#green {
  background: #008000;
}
#cyan {
  background: #00ffff;
}
#blue {
  background: #0000ff;
}
#navy {
  background: #000080;
}
#purple {
  background: #800080;
}
#pink {
  background: #ff69b4;
}
#brown {
  background: #a52a2a;
}
#gray {
  background: #808080;
}
#silver {
  background: #c0c0c0;
}
#gold {
  background: #ffd700;
}

.controls {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 10px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  width: 60px;
  height: 55px;
  cursor: pointer;
}
.size-display {
  /* border: 1px solid; */
  margin: -20px 0;
  font-size: 30px;
}

.socials {
  /* border: 1px solid; */
}
.socials a {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
