/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: grey;
}

.container {
  background-color: #fff;
  border: 1px solid;
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-template-columns: 500px 300px;
  width: 850px;
  height: 600px;
  /* column-gap: 10%; */
}

h1 {
  text-align: center;
  margin: 5px 0;
}
.sketch {
  border: 1px solid;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 25px;
}

.canvas {
  background-color: red;
  width: 25%;
  height: 25%;
  border: 1px solid;
}
